body {
    background: url(img/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card {
    display: grid;
    grid-template-columns: auto 90% auto;
    background-color: #f1f1f1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    list-style: none;
    border-radius: 10px;
    margin: 2px;
}


.card .input {
    grid-column-start: 1;
    grid-column-end: 1;
    
}

.card .text {
    grid-column-start: 2;
    grid-column-end: 2;
    font-family: 'Red Hat Display';
}

.card .cardimg{
    grid-column-start: 3;
    grid-column-end: 3;
    display:flex;
    background: url(img/hambmen.png) no-repeat center center;

}




